<div class='menu-item column column-block'>
  <p class='item-title'><%= order[item].name %></p>
  <p class='item-price'>$<%= order[item].price %></p>
  <p class='item-description'><%= order[item].description %></p>
  <input type="submit" data-item=<%= order[item].id %> value="+"><input type="submit" data-item=<%= order[item].id %> value="-">
  </div>