<div class='menu-item column column-block'>
  <img class='item-photo reactive' src= <%= result[key].picture %>>
  <p class='item-title'><%= result[key].name %></p>
  <p class='item-description'><%= result[key].description %></p>
  <input class="add-to-order button-primary" type="submit" data-item=<%= result[key].id %> value="+">
  <p class='item-price'>$<%= result[key].price %></p>
</div>